
hr { /*Settings for horizontal line*/
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 4px;
border: 3px dashed purple;
border-radius: 5px;

color: #5B5A5D;

}

body { /*Settings for the body of the page*/
	font-family:'Arbutus Slab';
	font-size:20px;
	/*width:1000px;*/
	margin-top: 120px;
	margin-left: 0;
	margin-right: 0;
}

h1 { /*Settings for the first headline*/
	font-size:40px;
	font-weight:bold;
	color:purple;
}

h2 { /*Settings for the second headline*/
	font-size:24px;
	font-weight:bold;
	color:purple;
}

h3 { /*Settings for the third headline*/
	font-size:24px;
	font-weight:bold;
	color:purple;
}

.header { /*Settings for the header*/
	width:100%;
	background-color:#331159;
	color:#DFCFCC;
	font-weight:bold;
	font-size:90px;
	line-height:150px;
	text-align:center;
	margin-bottom:10px;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
}

.main { /*Settings for main*/
	position:relative;
	height:600px;
	margin-top:10px;
	margin-bottom:10px;
	bottom: 0;
}

.mainleft { /*Settings for main left*/
	position:absolute;
	background-color:#DFCFCC;
	color:#1A0A06;
	text-align:center;
	padding:10px;
	width:280px;
	height:580px;
}

.mainright { /*Settings for main right*/
	background-color:#DFCFCC;
	color:#1A0A06;
	padding:10px;
}

.footer { /*Settings for the footer*/
	width:1000px;
	font-size:20px;
	line-height:50px;
	text-align:center;
	background-color:#9A1D03;
	color:#331159;
}

img.right { /*Settings for the right image*/
	float:right;
	text-align:top;
	margin-left:10px;
	width:50%;
	height:50%;
}

img { /*Settings for the image*/
	width: 50%;
	height: 50%;
	margin:10px;
}

input { /*Settings for input*/
  font-size: 20px;
	height:350px;
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
 box-sizing: border-box;
}

.narrow-font { /*Settings for the narrow font*/
  font-family: 'Open Sans Condensed', sans-serif;
}

.wide-font { /*Settings for the the wide font*/
  font-family: 'Diplomata', cursive;
}

.set-width { /*Settings for set width*/
  width: 300px;
}

button { /*Settings for the button*/
	background-color: #8B07A2;
	border-radius: 6px;
	width: 160px;
	color: #C2BBBB;
	padding: 15px 32px;
	text-align: center;
	text-decoration: bold;
	display: inline-block;
	font-size: 30px;
	font-family: Times New Roman;
	font-weight: bold;
}

.footer { /*Settings for the footer*/
	width:100%;
	margin-bottom: 0;
	height: auto;
	bottom: 5;
	top 5;
	left: 0;
	font-size:30px;
	line-height:60px;
	text-align:center;
	font-weight:bold;
	background-color:#331159;
	color:#DFCFCC;
	position: absolute;
	box-sizing: border-box;

}
