/*<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet"> </link?
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> </title>
	<style>
*/
body { /*Settings for the body section*/
	font-family:'Arbutus Slab';
	font-size:20px;
	margin-top: 120px;
	margin-left: 0;
	margin-right: 0;
}

h1 { /*Settings for the first headline*/
	font-size:40px;
	font-weight:bold;
	color:maroon;
}

h2 { /*Settings for the second headline*/
	font-size:40px;
	font-weight:bold;
	color:maroon;
}

.header { /*Settings for the header section*/
	width: 100%;
	background-color:#9A1D03;
	color:#DFCFCC;
	font-weight:bold;
	font-size:100px;
	line-height:150px;
	text-align:center;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	left: 0;
	top: 0;
}

.main { /*Settings for the main section*/
	position:relative;
	height:600px;
	margin-left: 10px;
	margin-bottom: 0;
	margin-bottom:10px;
	margin-bottom: auto;
}

.mainleft { /*Settings for the main left section*/
	position:absolute;
	background-color:#DFCFCC;
	color:#1A0A06;
	text-align:center;
	padding: 0;
	margin-left: 10px;
	margin-top: 100px;
	height:580px;
	list-style: none;
	position: absolute;
    bottom:0;
    width: 100%;
	box-sizing: border-box;
	left: 0;
}

.mainright { /*Settings for the main right section*/
	background-color:#DFCFCC;
	color:#1A0A06;
	padding:10px;

}

.footer { /*Settings for the footer section*/
	width:100%;
	margin-bottom: 0;
	height: auto;
	bottom: 10;
	left: 0;
	font-size:25px;
	line-height:60px;
	text-align:center;
	font-weight:bold;
	background-color:#9A1D03;
	color:#FAEBD7;
	position: absolute;
	box-sizing: border-box;
}

.img-right { /*Settings for the image right section*/
	float:right;
	text-align:right;
	background-position: 50% 50%;
	width:718px;
	height:710px;
	margin-left:10px;
}

.img-left { /*Settings for the image left section*/
	float:left;
	text-align:top;
	background-position: 50% 50%;
	width:718px;
	height:710px;
	margin-left:10px;
}

img { /*Settings for the image section*/
	width:641px;
	height:641px;
	margin:10px;

}
button { /*Settings for the button section*/
	background-color: #f44336;
	border-radius: 12px;
	width: 735px;
	color: #43433d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: bold;
	display: inline-block;
	font-size: 30px;
	font-family: Times New Roman;
	font-weight: bold;
}

form { /*Settings for the form section*/
	display: inline-block;
}

.twitter-timeline { /*Settings for the Twitter section*/
	display: inline-block;
	margin: auto;
}

html, body { /*Settings for html, body*/
    top:0;
    bottom:0;
    left:0;
    right:0;
	margin: 0;
}

/*
</style>




</head>
*/
