<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet"> </link>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/css/emoji.css" rel="stylesheet"> </link>
<link rel="stylesheet" href="/css/campusevents.css">

<title> </title>
<head>
</head>
<body>
	<div class="header">
	Campus conversation
	</div>
	<hr></hr>
	<div class="mainright">
		<h1> Let's discuss campus events! </h1>

		<p> Many topics concern us Flyers! Please comment on a post or start a new one. Tell us the latest about what's happening on campus.
		</p>
		<p><img src="/images/Science-Center.jpg" style="float:right;width:1270px;height:400px;">
	</p>
		<h2> Existing posts: </h2>
		<p> Finding parking is an issue that concerns students. It is difficult to find parking close to classes,
		unless one takes an 8 a.m. class. Students often leave an hour early to find parking. Or if students leave
		on time or late, they often discover that finding a parking spot is extremely difficult. Sometimes this causes
		students to be late to class or even miss a good portion of the lecture. How do students cope with the parking
		situation? What do you do to find a place to park? Please discuss.
		</p>
          <h2>Share your thoughts about this post: </h2>
		  <form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p><img src="/images/Welcome.jpg" style="float:right;width:750px;height:300px;">
			</p>





			<!--<p> React to this post: </p>
			<span style='font-size:25px;'>&#128515;</span>
			<span style='font-size:25px;'>&#128544;</span>
			<span style='font-size:25px;'>&#128546;</span>
			<span style='font-size:25px;'>&#128562;</span>
			<span style='font-size:25px;'>&#128514;</span>
			<span style='font-size:25px;'>&#129505;</span -->





			<h2> How to manage our stress </h2>
			<p>
			College students balance a number of tasks. It is challenging to balance school, work, and a load of other
			responsibilities. There never seem to be enough hours in the day to accomplish everything that needs to be done.
			Time management is important and essential. But students also have to alleviate the pressure and stress.
			How do you balance your time? How do you manage stress? Please tell your fellow Flyers.
			</p>

			<h2>Share your thoughts about this post: </h2>
	<form action="/action_page.php">
	<textarea name="comment" rows = "20"
	cols = "178">
	</textarea>
	<br>
	<input type="submit">
	</form>

	<p><img src="/images/Italy.jpg" style="float:right;width:1270px;height:300px;">
</p>
<p>
	<br>
</p>
	<h2> Travel to new places and study abroad </h2>
	<p>
		Studying in another country is a beneficial and rewarding experience. Have you spent time abroad? Tell us about it.
		Where did you travel to? What was the experience like? Share your positive and negative adventures.
		Would you recommend others to study overseas? If you haven't studied abroad, would you consider it?
		Why or why not? Please share your thoughts and concerns.
	</p>
	<h2>Share your thoughts about this post: </h2>
<form action="/action_page.php">
<textarea name="comment" rows = "20"
cols = "178">
</textarea>
<br>
<input type="submit">
</form>
	<!--
	<p>
		<br>
	</p>
	<p> React to this post: </p>
	<span style='font-size:25px;'>&#128515;</span>
	<span style='font-size:25px;'>&#128544;</span>
	<span style='font-size:25px;'>&#128546;</span>
	<span style='font-size:25px;'>&#128562;</span>
	<span style='font-size:25px;'>&#128514;</span>
	<span style='font-size:25px;'>&#129505;</span>-->
	<p><img src="/images/Main_Campus.jpg" style="float:right;width:1270px;height:400px;">
</p>
	<p>
			<br>
	</p>
			<h1> You've seen a few posts. It's time to create your own post! </h1>
			<p> Would you like to start a topic of conversation with your fellow Flyers? Why not lead the conversation?
			Submit your post below:
		<form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p>
				<br>
			</p>
			<div class="footer">
			"Deep conversations with the right people are priceless."
			</div>
			</body>
			</html>
