<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet"> </link>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<!--<link href="lib/css/emoji.css" rel="stylesheet">-->
<!--<link href="lib/css/emoji.css" rel="stylesheet"> </link>-->
<link rel="stylesheet" href="/css/campusevents.css">

<title> </title>
<head>
</head>
<body>   <!--onload="myBox();"-->
	<div class="header">
	Campus conversation
	</div>
	<hr></hr>
	<div class="mainright">
		<h1> Let's discuss campus events! </h1>

		<p> Many topics concern us Flyers! Please comment on a post or start a new one. Tell us the latest about what's happening on campus.
		</p>
		<p><img src="/images/Science-Center.jpg" style="float:right;width:1270px;height:400px;">
	</p>
		<h1> Existing posts: </h1>
		<h2> The struggle to find a parking space: </h2>
		<p> Finding parking is an issue that concerns students. It is difficult to find parking close to classes,
		unless one takes an 8 a.m. class. Students often leave an hour early to find parking. Or if students leave
		on time or late, they often discover that finding a parking spot is extremely difficult. Sometimes this causes
		students to be late to class or even miss a good portion of the lecture. How do students cope with the parking
		situation? What do you do to find a place to park? Please discuss.
		</p>
		<!--
		<h3>Click the menu to react to this post:</h3>-->

					<!--<input type="submit">
					<div class="navbar">
		  <div class="dropdown">
		  <button class="dropbtn" onclick="myFunction()">Dropdown
		    <i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content" id="myDropdown">
		    <a href="#smile"><span style='font-size:25px;'>&#128515;</span>
			<a href="#frown"><span style='font-size:25px;'>&#128544;</span>
			<a href="#sad"><span style='font-size:25px;'>&#128546;</span>
			<a href="#surprise"><span style='font-size:25px;'>&#128562;</span>
			<a href="#laugh"><span style='font-size:25px;'>&#128514;</span>
			<a href="#heart"><span style='font-size:25px;'>&#129505;</span></a>
		  </div>
		  </div>
		</div>-->
<h2>Share your thoughts about this post: </h2>
		<div class= "dropdown">
		React to this post! Comment below and select an emoji!
			<select name="React">
				<option
			value = <span style='font-size:25px;'>&#128515;</span></option>
				<option
			value = <span style='font-size:25px;'>&#128544;</span></option>
				<option
			<span style='font-size:25px;'>&#128546;</span></option>
				<option
			<span style='font-size:25px;'>&#128562;</span></option>
				<option
			<span style='font-size:25px;'>&#128514;</span></option>
				<option
			<span style='font-size:25px;'>&#129505;</span></a></option>
			/div

		  <form action="/action_page.php">

		          <h2>Share your thoughts about this post: </h2>
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>



			</form>
			<p><img src="/images/Welcome.jpg" style="float:right;width:1000px;height:300px;">
			</p>





			<!--<p> React to this post: </p>
			<span style='font-size:25px;'>&#128515;</span>
			<span style='font-size:25px;'>&#128544;</span>
			<span style='font-size:25px;'>&#128546;</span>
			<span style='font-size:25px;'>&#128562;</span>
			<span style='font-size:25px;'>&#128514;</span>
			<span style='font-size:25px;'>&#129505;</span -->





			<h2> How to manage our constant stress: </h2>
			<p>
			College students balance a number of tasks. It is challenging to balance school, work, and a load of other
			responsibilities. There never seem to be enough hours in the day to accomplish everything that needs to be done.
			Time management is important and essential. But students also have to alleviate the pressure and stress.
			How do you balance your time? How do you manage stress? Please tell your fellow Flyers.
			</p>

			<h2>Share your thoughts about this post: </h2>

			<div class= "dropdown">
			React to this post! Comment below and select an emoji!
				<select name="React">
					<option
				value = <span style='font-size:25px;'>&#128515;</span></option>
					<option
				value = <span style='font-size:25px;'>&#128544;</span></option>
					<option
				<span style='font-size:25px;'>&#128546;</span></option>
					<option
				<span style='font-size:25px;'>&#128562;</span></option>
					<option
				<span style='font-size:25px;'>&#128514;</span></option>
					<option
				<span style='font-size:25px;'>&#129505;</span></a></option>
				/div

			  <form action="/action_page.php">

			          <h2>Share your thoughts about this post: </h2>
				<textarea name="comment" rows = "20"
				cols = "178">
				</textarea>
				<br>



				</form>
	<!--
	<form action="/action_page.php">
	<textarea name="comment" rows = "20"
	cols = "178">
	</textarea>
	<br>
	<input type="submit">
	<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
  /*  if (myDropdown.classList.contains('show'))
      myDropdown.classList.remove('show');
    }
  }
}
</script>
	</form>-->
</script>
	<p><img src="/images/Italy.jpg" style="float:right;width:1270px;height:300px;">
</p>
<p>
	<br>
</p>
	<h2> Travel to new places and study abroad: </h2>
	<p>
		Studying in another country is a beneficial and rewarding experience. Have you spent time abroad? Tell us about it.
		Where did you travel to? What was the experience like? Share your positive and negative adventures.
		Would you recommend others to study overseas? If you haven't studied abroad, would you consider it?
		Why or why not? Please share your thoughts and concerns.
	</p>
	<h2>Share your thoughts about this post: </h2>

	<div class= "dropdown">
	React to this post! Comment below and select an emoji!
		<select name="React">
			<option
		value = <span style='font-size:25px;'>&#128515;</span></option>
			<option
		value = <span style='font-size:25px;'>&#128544;</span></option>
			<option
		<span style='font-size:25px;'>&#128546;</span></option>
			<option
		<span style='font-size:25px;'>&#128562;</span></option>
			<option
		<span style='font-size:25px;'>&#128514;</span></option>
			<option
		<span style='font-size:25px;'>&#129505;</span></a></option>
		/div

		<form action="/action_page.php">

						<h2>Share your thoughts about this post: </h2>
		<textarea name="comment" rows = "20"
		cols = "178">
		</textarea>
		<br>



		</form>
<!--
	<div class="field">

	<iframe id="vtbe_google_logout" name="vtbe_google_logout" style="width:100;height:250;border:2px solid #fff; display:none;" ></iframe>
	<input type="hidden" name="descriptiontext_f" id="descriptiontext_f" value="BB%3FBB_2iKvm4eIhEVc1X7NO0z0DI48Hh0gZcDq4wk3EqB/1QeXJFRaovtyZF4L4hvumpSjW%2B5KVohuaTfqs8SRy2QoUlaFiMy8R73rwHNFhMVwWtGNZ1nixpZAZw%3D%3D"/>
	<input type="hidden" name="descriptiontext_w" id="descriptiontext_w" value="https://lewisuniversity.blackboard.com/sessions/C0/C02272EFDCE9FB4E22642411792F3706/fe3d91ef951740ce843f0c807406205a/"/>
	<input type="hidden" name="descriptiontype" id='descriptiontype' value="H"/>
	<input type="hidden" name='textbox_prefix' id='textbox_prefix' value="descriptiontext"/>
	<div id="descriptiontext_csPermFileList" style="display: none;"></div>
	<table class='textboxtable' cellpadding='0' cellspacing='0' style="width: 100%;">
	<tr>
	<td width='100%' class='bWhite'>
	<span class="vtbehelp" style="display:none">For the toolbar, press ALT+F10 (PC) or ALT+FN+F10 (Mac).</span>
	<textarea id="descriptiontext" name="descriptiontext" rows="15"></textarea>
	</td>
	</tr>
	</table>
	<script type="text/javascript">
	//<!--
	if ( window.formCheckList !== undefined )
	{
	formCheckList.addElement(new inputText({name:"descriptiontext", trim:"1"
	, ref_label:"Message" , activeX:false , isHtmlDoc:false }));
	}
	//-->
	<!--</script>

	<!-- End textbox -->

<!--
<form action="/action_page.php">
<textarea name="comment" rows = "20"
cols = "178">
</textarea>
<br>
<input type="submit">
</form>
	<!--
	<p>
		<br>
	</p>
	<p> React to this post: </p>
	<span style='font-size:25px;'>&#128515;</span>
	<span style='font-size:25px;'>&#128544;</span>
	<span style='font-size:25px;'>&#128546;</span>
	<span style='font-size:25px;'>&#128562;</span>
	<span style='font-size:25px;'>&#128514;</span>
	<span style='font-size:25px;'>&#129505;</span>-->
	<p><img src="/images/Main_Campus.jpg" style="float:right;width:1270px;height:400px;">
</p>
	<p>
			<br>
	</p>
			<h1> You've seen a few posts. It's time to create your own post! </h1>
			<p> Would you like to start a topic of conversation with your fellow Flyers? Why not lead the conversation?
			Submit your post below:

			<!--Emojis are unicodes, so it wont have much problem showing in the mobile or mails-->

	<!--		<div class="container full-width">
			      <div class="row justify-content-center">
			            <p class="lead emoji-picker-container">
										<form action="/action_page.php">
										 <textarea type="textbox" data-emoji-input="unicode" class="form-control" placeholder="Input field" data-emojiable="true"></textarea>
											<br>
											<input type="submit">
											</form>
			            </p>
			      </div>
			</div>-->





		<!--<form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p>
				<br>
			</p>-->
<!--
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script src="../lib/js/config.js"></script>
			<script src="../lib/js/util.js"></script>
			<script src="../lib/js/jquery.emojiarea.js"></script>
			<script src="../lib/js/emoji-picker.js"></script>
-->

			<!--<script>-->
			<!--<script src="lib/js/config.js"></script>-->
			<!--<script src="lib/js/util.js"></script>-->
			<!--<script src="lib/js/jquery.emojiarea.js"></script>-->
			<!--<script src="lib/js/emoji-picker.js"></script>-->
			<!--<script src="emojiPicker.js"></script>-->
			<!--window.EmojiPicker.init()-->
			<h2>You've seen a few posts! It's time to create your own!</h2>
			<div class= "dropdown">
			Create a post below and select an emoji!
				<select name="React">
					<option
				value = <span style='font-size:25px;'>&#128515;</span></option>
					<option
				value = <span style='font-size:25px;'>&#128544;</span></option>
					<option
				<span style='font-size:25px;'>&#128546;</span></option>
					<option
				<span style='font-size:25px;'>&#128562;</span></option>
					<option
				<span style='font-size:25px;'>&#128514;</span></option>
					<option
				<span style='font-size:25px;'>&#129505;</span></a></option>
				/div

			  <form action="/action_page.php">

			          <h2>Share your thoughts about this post: </h2>
				<textarea name="comment" rows = "20"
				cols = "178">
				</textarea>
				<br>



				</form>
<!--
			<input data-emojiable="true" type="text" class="form-control">
			<h2>Textarea</h2>
			<textarea data-emojiable="true"  class="form-control"></textarea>

		<script type="text/javascript">

/*function myBox(){

        window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath:
					'http://onesignal.github.io/emoji-picker/lib/img/',
          popupButtonClasses: 'fa fa-smile-o'
        });

        window.emojiPicker.discover();
				console.log("Hello");
      };
*/
</script>-->
			</body>
			<div class="footer">
			"Deep conversations with the right people are priceless."
			</div>
			</html>
