<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet"> </link>
<title> </title>
<link rel="stylesheet" href="/css/currentevents.css">
<head>
</head>
<body>
	<div class="header">
	Current events
	</div>

	<div class="mainright">
		<p>
			<br>
		</p>
		<h1> Let's discuss the world around us! </h1>
		<p> Many topics concern us Flyers! Please comment on a post or start a new one. Discuss any local, state, national, or global issue.
		</p>
		<p><img src="/images/White_House.jpg" style="float:right;width:1320px;height:570px;">
	</p>
		<h1> Existing posts: </h1>
		<h2> Election season will soon be upon us: </h2>
		<p>
		The presedential election is coming up in November 2020. There are a number of candidates with different viewpoints. Which candidate do you support?
		Why? Which issues are the most important to you this election? What changes would you like to see in the political landscape?
		Would you like to see how your favorite candidate has voted on certain issues? What about the candidates for Senate or the House of Representatives?
		Take a look at <a href="https://votesmart.org/">Vote Smart</a> to find out more.


					<h2>Share your thoughts about this post: </h2>

					<div class= "dropdown">
					React to this post! Comment below and select an emoji!
						<select name="React">
							<option
						value = <span style='font-size:25px;'>&#128515;</span></option>
							<option
						value = <span style='font-size:25px;'>&#128544;</span></option>
							<option
						<span style='font-size:25px;'>&#128546;</span></option>
							<option
						<span style='font-size:25px;'>&#128562;</span></option>
							<option
						<span style='font-size:25px;'>&#128514;</span></option>
							<option
						<span style='font-size:25px;'>&#129505;</span></a></option>
						/div
<form action="/action_page.php">
<textarea name="comment" rows = "20"
cols = "178">
</textarea>
<br>
<input type="submit">
</form>
<p><img src="/images/Debt.jpg" style="float:right;width:650px;height:240px;"></p>
		<h2> Debt is an area of great concern to college students: </h2>
		<p> Student loans are a major area of concern. Once students graduate, they are
			burdened with the task of repaying loans for their education. Unfortunately,
			not everyone is eligible for a scholarship. It would be wonderful if
			tuition was free. This way, more people can afford to receive an education and
			make positive contributions to the world around us. Education is a wonderful opportunity.
		</p>
          <h2>Share your thoughts about this post: </h2>
					<div class= "dropdown">
					React to this post! Comment below and select an emoji!
						<select name="React">
							<option
						value = <span style='font-size:25px;'>&#128515;</span></option>
							<option
						value = <span style='font-size:25px;'>&#128544;</span></option>
							<option
						<span style='font-size:25px;'>&#128546;</span></option>
							<option
						<span style='font-size:25px;'>&#128562;</span></option>
							<option
						<span style='font-size:25px;'>&#128514;</span></option>
							<option
						<span style='font-size:25px;'>&#129505;</span></a></option>
						/div
		  <form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
<p><img src="/images/United_Nations.jpg" style="float:right;width:1310px;height:500px;"></p>
			<h2> Changes in the world around us: </h2>
			<p>
			In the United Nations representatives of countries discuss glocal issues of concern.
			Some of these topics are very difficult to discuss, especially issues of war and peace.
			The United Nations serves to keep international security and peace. Additionally, the United Nations serves to protect human rights,
			and give out humanitarian aid. What international issues concern you? What do you think can be done to solve these issues?
			Please discuss.
		</p>
		<h2>Share your thoughts about this post: </h2>
		<div class= "dropdown">
		React to this post! Comment below and select an emoji!
			<select name="React">
				<option
			value = <span style='font-size:25px;'>&#128515;</span></option>
				<option
			value = <span style='font-size:25px;'>&#128544;</span></option>
				<option
			<span style='font-size:25px;'>&#128546;</span></option>
				<option
			<span style='font-size:25px;'>&#128562;</span></option>
				<option
			<span style='font-size:25px;'>&#128514;</span></option>
				<option
			<span style='font-size:25px;'>&#129505;</span></a></option>
			/div
		<form action="/action_page.php">
		<textarea name="comment" rows = "20"
		cols = "178">
		</textarea>
		<br>
		<input type="submit">
		</form>
			<!--<p>
				<br>
			</p>-->
		<!--	<p> React to this post: </p>
			<span style='font-size:25px;'>&#128515;</span>
			<span style='font-size:25px;'>&#128544;</span>
			<span style='font-size:25px;'>&#128546;</span>
			<span style='font-size:25px;'>&#128562;</span>
			<span style='font-size:25px;'>&#128514;</span>
			<span style='font-size:25px;'>&#129505;</span> -->
		<!--<h1> You've seen a few posts. It's time to create your own post! </h1>
		<p> Would you like to start a topic of conversation with your fellow Flyers?  Why not lead the conversation?
		Submit your post below:-->
<p><img src="/images/Switzerland.jpg" style="float:right;width:1310px;height:400px;"></p>
		<h1>You've seen a few posts. It's time to create your own! </h1>
		<div class= "dropdown">
		Create a post below and select an emoji!
			<select name="React">
				<option
			value = <span style='font-size:25px;'>&#128515;</span></option>
				<option
			value = <span style='font-size:25px;'>&#128544;</span></option>
				<option
			<span style='font-size:25px;'>&#128546;</span></option>
				<option
			<span style='font-size:25px;'>&#128562;</span></option>
				<option
			<span style='font-size:25px;'>&#128514;</span></option>
				<option
			<span style='font-size:25px;'>&#129505;</span></a></option>
			/div


		<form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p>
				<br>
			</p>
			<div class="footer">
			"Conversation is food for the soul." -Proverb
			</div>
			</body>
			</html>
