<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet"> </link>
<title> </title>
<link rel="stylesheet" href="/css/currentevents.css">
<head>
</head>
<body>
	<div class="header">
	Current events
	</div>

	<div class="mainright">
		<h1> Let's discuss the world around us! </h1>
		<p> Many topics concern us Flyers! Please comment on a post or start a new one. Discuss any local, state, national, or global issue.
		</p>
		<h2> Existing posts: </h2>
		<p> Student loans are a major area of concern. Once students graduate, they are
			burdened with the task of repaying loans for their education. Unfortunately,
			not everyone is eligible for a scholarship. It would be wonderful if
			tuition was free. This way, more people can afford to receive an education and
			make positive contributions to the world around us.
		</p>
          <h2>Share your thoughts about this post: </h2>
		  <form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p>
				<br>
			</p>
			<p> React to this post: </p>
			<span style='font-size:25px;'>&#128515;</span>
			<span style='font-size:25px;'>&#128544;</span>
			<span style='font-size:25px;'>&#128546;</span>
			<span style='font-size:25px;'>&#128562;</span>
			<span style='font-size:25px;'>&#128514;</span>
			<span style='font-size:25px;'>&#129505;</span>
		<h3> Create a post: </h3>
		<p> Would you like to start a topic of conversation with your fellow Flyers?  Why not lead the conversation?
		Submit your post below:
		<form action="/action_page.php">
			<textarea name="comment" rows = "20"
			cols = "178">
			</textarea>
			<br>
			<input type="submit">
			</form>
			<p>
				<br>
			</p>
			<div class="footer">
			"Conversation is food for the soul." -Proverb
			</div>
			</body>
			</html>
